.product{
    display: flex;
    align-items: center;
    column-gap: 2rem;
    border-bottom: 1px solid lightgray;
    padding: 30px;

}

.price{
    font-weight: 700;
}
.purchase-btn{
  background-color: goldenrod;
  width: 150px;
  height: 30px;
  border: 1px solid lightgray;
  border-radius: 5px;
  cursor: pointer;
}

.product_image{
  border: 1px solid lightgray;
  padding: 10px;
  border-radius: 5px;
}
.product__rating{
  margin-bottom: .5rem;
}
.Rating__icon{
  color: goldenrod;
}