.product{
    display: flex;
    align-items: center;
    column-gap: 2rem;

}
.product-details{

}
.price{
    font-weight: 700;
}
.purchase-btn{
  background-color: goldenrod;
  width: 150px;
  height: 30px;
  border: 1px solid lightgray;
  border-radius: 5px;
  cursor: pointer;
}